:root{
    --primary-color: #FCDEC0;
    --secondary-color: #E5B299;
    --ternary-color: rgb(183, 125, 17);
    --quaternary-color: rgb(60, 37, 20);
    --red:red;


}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./fonts/AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonts/AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonts/AeonikTRIAL-Regular.otf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--primary-color);

}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: var(--quaternary-color);
}

nav{
    position: fixed;
    width: 100%;
    height:60px;
    background-color: var(--ternary-color);

}

section.allElems{
    height:100%;
    width: 100%;
    padding:40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap:40px;
    position: absolute;
    } 
 
.elem{
    background-color: orange;
    height: 400px;
    width: 255px;
    font-size: 30px;
    border-radius: 30px; 
    position: relative;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    border-radius: 30px; 
}

.elem h2{
    position: absolute;
    left: 5%;
    top: 5%;
    font-weight:500;
}

.elem:active{
    transform: scale(0.97);
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: rgb(60, 29, 6);
    padding :40px;
    font-size: 60px;
    display:none;
    position:absolute;
}

.back{
    position: absolute;
    right:5%;
    background-color: var(--red);
    border-radius: 10px;
    border:none;
    color:white;
    font-size: 25px;
    padding: 15px 22px;
    font-weight: 500;
    cursor: pointer;
}

.back:active{
    transform: scale(0.97);
}

.todo-list-fullpage{
    display: block;
}
    
.todo-list-fullpage h2{
    font-size: 70px;
}
.todo-list-fullpage .todo-container{
    height:70%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}



.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    height: 100%;
    background-color: var(--ternary-color);
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    height: 100%;
    background-color: var(--ternary-color);
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.todo-container .addTask form input#taskInput{
    width: 100%; 
    color:black;
    background-color: var(--primary-color);
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 15px 25px;
    margin-bottom: 20px;
}

.todo-container .addTask form textarea{
    width: 100%;
    color: black;
    height: 15em;
    background-color: var(--primary-color);
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 15px 25px;
    margin-bottom: 20px;
}

.todo-container .addTask form button{
    width: 100%;
    background-color: orange;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 700;
    padding: 15px 25px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
} 

.todo-container .addTask form button:active{
    scale:0.96;
}
    
.todo-list-fullpage .todo-container .allTask{
    width:65%;
    height: 100%;
    background-color: var(--ternary-color);
    display:flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 20px;

    
}

.task h5{
    color: rgb(48, 14, 14);
    font-size: 25px;
    display: flex;
    align-items: center;
    gap:10px;
}

.task button{
    padding: 15px 30px;
    color: var(--primary-color);
    font-size: 18px;
    background-color: green;
    border:none;
    border-radius: 10px;

    font-weight: 600;

    
}

.task button:active{
    scale:0.96;
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap:10px;
    height: fit-content;
    padding: 0 10px;
    margin-bottom: 20px;
}

.mark-imp input[type="checkbox"]{
    scale:2;
}

.mark-imp label{
    font-size: 20px;
    
}

.task h5 span{
    background-color:var(--red);
    color:var(--primary-color);
    border-radius: 50px;
    font-size: 10px;
    padding:3px 5px;

}
.task h5 span.true{
    opacity: 1;
}

.task h5 span.false{
    opacity: 0;
}


/* Daily Planner */

.daily-planner-fullpage{
    display: block;
}

.daily-planner-fullpage h2{
    font-size: 70px;
}

.daily-planner-fullpage .day-planner{
    height:85%;
    background-color: var(--secondary-color);
    width: 100%;
    margin-top: 40px;
    display: flex;
    border-radius: 10px;
    padding: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;

}

.daily-planner-fullpage .day-planner .day-planner-time{
    width: 49%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.day-planner .day-planner-time p{
    position: absolute;
    top:10%;
    left:1%;
    font-size: 18px;
    color: var(--ternary-color);

}

.day-planner .day-planner-time input{
    width: 100%;
    height: 100%;
    background-color: var(--quaternary-color);
    border-radius: 10px;
    border: none;
    color: var(--primary-color);
    font-size:30px;            
    padding: 30px;
    padding-bottom: 0;
    outline: none;
}
