:root{
    --primary-color: #FCDEC0;
    --secondary-color: #E5B299;
    --ternary-color: rgb(183, 125, 17);
    --quaternary-color: rgb(60, 37, 20);


}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./fonts/AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonts/AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonts/AeonikTRIAL-Regular.otf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--primary-color);

}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: var(--quaternary-color);
}

nav{
    position: fixed;
    width: 100%;
    height:60px;
    background-color: var(--ternary-color);

}

section.allElems{
    height:100%;
    width: 100%;
    padding:40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap:40px;
    position: absolute;
    } 
 
.elem{
    background-color: orange;
    height: 400px;
    width: 255px;
    font-size: 30px;
    border-radius: 30px; 
    position: relative;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    border-radius: 30px; 
}

.elem h2{
    position: absolute;
    left: 5%;
    top: 5%;
    font-weight:500;
}

.elem:active{
    transform: scale(0.97);
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: rgb(60, 29, 6);
    padding :40px;
    font-size: 60px;
    display:none;
    position:absolute;
}

.back{
    position: absolute;
    right:5%;
    background-color: red;
    border-radius: 10px;
    border:none;
    color:white;
    font-size: 25px;
    padding: 15px 22px;
    font-weight: 500;
    cursor: pointer;
}

.back:active{
    transform: scale(0.97);
}

